@mixin myflex($direction,$horizontal,$vertical){
    display: flex;
    flex-direction: $direction;
    align-items: $horizontal;
    justify-content: $vertical;
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}