/* LayerSlider Borderless Dark 3D Skin */



.ls-borderlessdark3d .ls-ct-half {
	background: #444;
}

.ls-borderlessdark3d .ls-ct-center {
	background: white;
}

.ls-borderlessdark3d .ls-playvideo {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
}

.ls-borderlessdark3d .ls-playvideo,
.ls-borderlessdark3d .ls-nav-sides,
.ls-borderlessdark3d .ls-bottom-slidebuttons a,
.ls-borderlessdark3d .ls-nav-prev,
.ls-borderlessdark3d .ls-nav-next,
.ls-borderlessdark3d .ls-nav-start,
.ls-borderlessdark3d .ls-nav-stop,
.ls-borderlessdark3d .ls-fullscreen,
.ls-borderlessdark3d .ls-loading-container {
	background-image: url(http://beetube.me/html-template/layerslider/skins/borderlessdark3d/skin.png);	
}

.ls-borderlessdark3d .ls-playvideo {
	background-position: -300px -150px;
}

.ls-borderlessdark3d .ls-playvideo:hover,
.ls-borderlessdark3d .ls-vpcontainer:hover .ls-playvideo {
	background-position: -375px -150px;
}

.ls-borderlessdark3d .ls-nav-prev {
	background-position: 0px 0px;
}

.ls-borderlessdark3d .ls-nav-prev:hover {
	background-position: 0px -75px;
}

.ls-borderlessdark3d .ls-nav-next {
	background-position: -150px 0px;
}

.ls-borderlessdark3d .ls-nav-next:hover {
	background-position: -150px -75px;
}

.ls-borderlessdark3d .ls-nav-start {
	background-position: -300px 0px;
}

.ls-borderlessdark3d .ls-nav-start:hover,
.ls-borderlessdark3d .ls-nav-start-active {
	background-position: -300px -75px;
}

.ls-borderlessdark3d .ls-nav-stop {
	background-position: -450px 0px;
}

.ls-borderlessdark3d .ls-nav-stop:hover,
.ls-borderlessdark3d .ls-nav-stop-active {
	background-position: -450px -75px;
}

.ls-borderlessdark3d .ls-bottom-slidebuttons a {
	background-position: 0px -150px;
}

.ls-borderlessdark3d .ls-bottom-slidebuttons a.ls-nav-active,
.ls-borderlessdark3d .ls-bottom-slidebuttons a:hover {
	background-position: -75px -150px;
}

.ls-borderlessdark3d .ls-nav-sideleft {
	background-position: -150px -150px;	
}

.ls-borderlessdark3d .ls-nav-sideright {
	background-position: -225px -150px;	
}



.ls-borderlessdark3d .ls-nav-prev,
.ls-borderlessdark3d .ls-nav-next {
	width: 40px;
	height: 40px;
	z-index: 10000;
	top: 50%;
	margin-top: -20px;	
	position: absolute;
}

.ls-borderlessdark3d .ls-nav-prev {
	left: 10px;	
}

.ls-borderlessdark3d .ls-nav-next {
	right: 10px;	
}



.ls-borderlessdark3d .ls-bottom-slidebuttons,
.ls-borderlessdark3d .ls-bottom-slidebuttons a,
.ls-borderlessdark3d .ls-nav-start,
.ls-borderlessdark3d .ls-nav-stop,
.ls-borderlessdark3d .ls-nav-sides {
	height: 20px;
}

.ls-borderlessdark3d .ls-bottom-slidebuttons,
.ls-borderlessdark3d .ls-bottom-slidebuttons a,
.ls-borderlessdark3d .ls-nav-start,
.ls-borderlessdark3d .ls-nav-stop,
.ls-borderlessdark3d .ls-nav-sides {
	display: inline-block;
}

.ls-borderlessdark3d .ls-bottom-slidebuttons,
.ls-borderlessdark3d .ls-nav-start,
.ls-borderlessdark3d .ls-nav-stop,
.ls-borderlessdark3d .ls-nav-sides {
	top: -30px;
}

.ls-borderlessdark3d .ls-nav-start,
.ls-borderlessdark3d .ls-nav-stop {
	width: 25px;
}

.ls-borderlessdark3d .ls-bottom-slidebuttons a {
	width: 20px;
}

.ls-borderlessdark3d .ls-nav-sides {
	width: 0px;	
}



.ls-borderlessdark3d .ls-thumbnail-hover {
	bottom: 30px;
	padding: 3px;
}

.ls-borderlessdark3d .ls-thumbnail-hover-bg {
	background: #222;
	box-shadow: 0px 2px 12px -4px black;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

.ls-borderlessdark3d .ls-thumbnail-hover span {
	border: 5px solid #222;
	margin-left: -5px;
}



.ls-borderlessdark3d .ls-thumbnail {
	top: 10px;
}

.ls-borderlessdark3d .ls-thumbnail-inner {
	padding: 3px;
	margin-left: -3px;
	background: #222;
	box-shadow: 0px 3px 15px -5px #000;
	-moz-box-shadow: 0px 3px 15px -5px #000;
	-webkit-box-shadow: 0px 3px 15px -5px #000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

.ls-borderlessdark3d .ls-thumbnail-slide a {
	margin-right: 3px;
}

.ls-borderlessdark3d .ls-nothumb {
	background: #333;
}



.ls-borderlessdark3d .ls-shadow {
	display: block;
}



.ls-borderlessdark3d .ls-loading-container {
	width: 40px;
	height: 40px;
	margin-left: -20px;
	margin-top: -20px;
	background-position: -450px -150px;	
}

.ls-borderlessdark3d .ls-loading-indicator {
	width: 22px;
	height: 22px;
	margin-top: 9px;
	background-image: url(http://beetube.me/html-template/layerslider/skins/borderlessdark3d/loading.gif);	
}



.ls-borderlessdark3d .ls-fullscreen {
	width: 30px;
	height: 30px;
	right: 10px;
	top: 10px;
	background-position: -525px -150px;
}

.ls-borderlessdark3d .ls-fullscreen:hover {
	background-position: -525px -190px;
}