section {

    // SEARCH SECTION

    &.search-section {
        background: green !important; 
        border: solid 1px green;

        .section-inner {

            .search-container {
                width: 100%;
                height: auto;
                padding: 15px 10px;

                form {
                    background: white;
                    width: 80%;
                    padding: 0 20px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 3px 3px 7px rgba(0,0,0,0.1);

                    input {
                        box-shadow: none;
                        border: 0;
                        margin: 0;
                        flex: 1;
                    }
                    
                    button {
                        @include myflex(row, flex-start,center);
                        
                        .button-wrapper {
                            @include myflex(row, center,center);

                            .icon {
                                padding: 20px 10px;
                                width: 50px;
                                transition: all 200ms ease;
                                font-size: 1.1em;
                                @include myflex(row, center,center);
                            }
                        }

                        .search-button-wrapper {
                            margin-right: 10px;
                            border-bottom: 2px solid transparent;

                            &:hover {
                                color: #000;
                                border-bottom-color: tomato;
                            }
                        }

                        .filter-button-wrapper {
                            color: tomato;
                            flex: 2;
                            
                            .icon { font-size: 1.3em; }
                        }
                    }
                }
            }
        }
    }

    // MOVIE LIST SECTION
    &#movie-list-section {
        .movie-list-container {
            display: flex;

            .movie-category {
                flex: 1;
                margin-right: 20px;
                @include myflex(column, center, space-around);

                .title {
                    
                    .title-text {
                        color: black;
                        font-size: 2em;
                    }
                }

                .button-wrapper {

                    .button-more {
                        @include myflex(row, space-between, center)
                        padding: 5px 10px;
                        border-radius: 3px;
                        background: darken(tomato, 10%);
                        color: white;
                    }
                }
            }

            .movie-lists {
                display: flex;
                width: 100%;
                flex: 6;

                .movie-list {
                    position: relative;
                    margin: 5px 10px;
                    margin-left: 0;

                    img {
                        
                    }

                    .movie-label {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 10px;
                        background: tomato;
                        color: white;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}