.konten-modal{
    font-size: 13px;
}
.text-white{
  color: white;
}
.eaak{
  color: white;
}
.eaak i{
  font-size: 200px !important;
}
.eafo{
  font-size: 20px;
}

.watermark {
     background:red;
     position: absolute;
     opacity: 1;
     padding: 2px;
     width: 90%;
     padding-left: 20px;
     color: white;
     text-align: center;
     overflow: hidden;
     z-index: 1000;
 }

 .margin-10{
     margin: 10px;
 }
 
 .margin-20{
     margin: 20px;
 }

 .margin-30{
     margin: 30px;
 }

 .margin-40{
     margin: 40px;
 }
 .margin-50{
     margin: 50px;
 }
 .bawah-merah{

 }
 .sidebar {
  margin-bottom: 30px;
  padding-top: 24px;
  padding-bottom: 60px;
  position: relative;
  z-index: 2; }
  .sidebar .sidebarBg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background: #f0f0f0;
    z-index: -1; }
 {
    margin-bottom: 40px;
    padding: 0 30px; }
   .widgetTitle h5 {
      margin-bottom: 20px;
      padding-bottom: 24px;
      border-bottom: 1px solid #e0e0e0;
      text-transform: capitalize;
      line-height: 16px; }
   #searchform input {
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      color: #aaaaaa;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
   #searchform input[type="submit"] {
      height: 40px;
      line-height: 40px;
      padding: 0 1.5625em;
      color: #fff;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .accordion {
      border-color: #ececec; }
    .accordion .accordion-item.is-active .accordion-title {
        background: #e96969;
        color: #fff; }
    .accordion .accordion-title {
        padding: 15px;
        font-size: 14px;
        font-weight: bold;
        background: #f6f6f6;
        color: #6c6c6c;
        text-transform: capitalize; }
    .accordion .accordion-content ul li i {
        display: inline-block;
        font-size: 11px;
        color: #e96969;
        margin-right: 5px; }
    .accordion .accordion-content ul li a {
        display: inline-block;
        width: 90%;
        font-size: 13px;
        color: #aaaaaa;
        border-bottom: 1px solid #ececec;
        padding-bottom: 9px;
        margin-bottom: 10px;
        text-transform: capitalize; }
      .accordion .accordion-content ul li a span {
          float: right;
          font-size: 13px;
          color: #aaaaaa; }
      .accordion .accordion-content ul li a:hover {
          color: #444444; }
        .accordion .accordion-content ul li a:hover span {
            color: #444444; }
    .accordion .accordion-content ul li:last-of-type a {
        border-bottom: none; }
  .video-box {
      margin-bottom: 20px;
      background: #fff; }
    .video-box .video-img-thumb {
        border-bottom: 1px solid #ececec;
        height: 140px;
        position: relative; }
      .video-box .video-img-thumb img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          -o-object-fit: cover;
          object-fit: cover; }
      .video-box .video-img-thumb .hover-posts span {
          font-size: 13px; }
        .video-box .video-img-thumb .hover-posts span i {
            font-size: 18px; }
    .video-box .video-box-content {
        padding: 15px 0 0 10px; }
      .video-box .video-box-content h6 a {
          font-size: 13px;
          font-weight: normal;
          margin-bottom: 15px;
          color: #444444 !important; }
        .video-box .video-box-content h6 a:hover {
            color: #222222; }
      .video-box .video-box-content p span {
          font-size: 11px;
          color: #aaaaaa;
          display: inline-block;
          margin-right: 15px; }
        .video-box .video-box-content p span i {
            display: inline-block;
            font-size: 11px;
            color: #aaaaaa;
            margin-right: 5px; }
        .video-box .video-box-content p span a {
            display: inline-block;
            font-size: 11px;
            color: #aaaaaa; }
          .video-box .video-box-content p span a:hover {
              color: #222222; }
    .video-box:hover a.hover-posts {
        visibility: visible;
        transform: scale(1); }
  .social-links .socialButton {
      width: 58px;
      background: #395996;
      text-align: center;
      display: inline-block;
      padding: 12px 0;
      border-radius: 3px;
      border-bottom: 4px solid #2e4778; }
    .social-links .socialButton i {
        color: #fff;
        display: block;
        font-size: 20px; }
    .social-links .socialButton span {
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: #fff; }
      .social-links .socialButton span:nth-of-type(2) {
          font-size: 11px;
          font-weight: normal;
          text-transform: capitalize; }
    .social-links .socialButton:nth-of-type(2) {
        background: #43b3e5;
        border-bottom: 4px solid #368fb7; }
    .social-links .socialButton:nth-of-type(3) {
        background: #fb3333;
        border-bottom: 4px solid #c92929; }
    .social-links .socialButton:nth-of-type(4) {
        background: #e64a41;
        border-bottom: 4px solid #b83b34; }
    .social-links .socialButton:nth-of-type(5) {
        background: #69c8ff;
        border-bottom: 4px solid #54a0cc; }
  .advBanner {
      overflow: hidden;
      width: 300px;
      height: 250px;
      margin: 0 auto; }
    .advBanner img {
        obeject-fit: cover;
        width: 100%;
        height: 100%; }
  .media-object {
      margin-bottom: 10px; }
    .media-object .media-object-section .recent-img {
        width: 120px;
        height: 80px;
        overflow: hidden;
        position: relative; }
      .media-object .media-object-section .recent-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .media-object .media-object-section .recent-img a.hover-posts span i {
          font-size: 18px; }
    .media-object .media-object-section .media-content h6 a {
        font-size: 13px;
        color: #444444;
        font-weight: normal; }
      .media-object .media-object-section .media-content h6 a:hover {
          color: #222222; }
    .media-object .media-object-section .media-content p {
        margin: 0; }
      .media-object .media-object-section .media-content p i {
          font-size: 11px;
          line-height: 11px;
          color: #aaaaaa;
          display: inline-block;
          margin-right: 5px; }
      .media-object .media-object-section .media-content p span {
          font-size: 11px;
          line-height: 11px;
          color: #aaaaaa;
          display: inline-block;
          margin-right: 10px; }
    .media-object:hover a.hover-posts {
        visibility: visible;
        transform: scale(1); }
  .item-video {
      width: 100%;
      border: 1px solid #ececec; }
  .twitter-carousel .twitter-item i {
      display: inline-block;
      color: #e96969;
      margin-right: 20px;
      width: 20px;
      height: 20px;
      float: left;
      font-size: 24px;
      margin-top: 3px; }
  .twitter-carousel .twitter-item span {
      display: inline-block;
      color: #8e8e8e;
      font-size: 13px;
      float: left;
      width: 85%; }
    .twitter-carousel .twitter-item span a {
        color: #e96969;
        font-weight: bold; }
  .twitter-carousel .owl-controls {
      margin-top: 10px; }
  ul {
      margin: 0;
      list-style: none;
      width: 100%; }
    ul li.cat-item {
        margin: 0;
        float: left;
        display: inline-block;
        width: 50%; }
      ul li.cat-item a {
          padding: 0;
          color: #8e8e8e;
          font-size: 13px;
          margin-right: 20px; }
        ul li.cat-item a:hover {
            color: #e96969; }
  .profile-overview li {
      border: 1px solid #ececec;
      border-radius: 4px;
      margin-bottom: 10px; }
    .profile-overview li:last-of-type {
        margin-bottom: 20px; }
    .profile-overview li a {
        width: 100%;
        display: inline-block;
        height: 40px;
        color: #6c6c6c;
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        float: left;
        padding-right: 15px;
        text-transform: capitalize; }
      .profile-overview li a:hover {
          background: #e96969;
          color: #fff;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
      .profile-overview li a span {
          font-weight: normal; }
      .profile-overview li a i {
          display: inline-block;
          width: 40px;
          height: 40px;
          border-right: 1px solid #ececec;
          background: #f6f6f6;
          font-size: 16px;
          color: #6c6c6c;
          text-align: center;
          float: left;
          line-height: 40px;
          margin-right: 15px; }
    .profile-overview li a.active {
        background: #e96969;
        color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
  a.button {
      width: 100%;
      height: 45px;
      font-size: 14px;
      line-height: 45px;
      background: #61ca37;
      border-bottom: 3px solid #53ac2f;
      text-align: center;
      padding: 0; }
    a.button i {
        display: inline-block;
        margin-right: 13px; }
      a.button:hover{
               background: #79d255;
        }
   .tagcloud a {
      display: inline-block;
      background: #6c6c6c;
      color: #aaaaaa;
      font-size: 13px;
      text-transform: capitalize;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 5px;
      line-height: 13px; }
     .tagcloud a:hover {
        background: #e96969;
        color: #fff; }
   .newsLetter {
      background: url("../images/sidebar-news-letter.png") repeat-x;
      padding: 35px 15px; }
     .newsLetter h3 {
        color: #fff;
        margin: 0; }
     .newsLetter p {
        color: #fff;
        margin: 0 0 9px 0;
        font-size: 13px; }
     .newsLetter input[type="email"] {
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: #c65959;
        border-color: #c65959;
        font-size: 13px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
     .newsLetter input[type="submit"] {
        text-transform: capitalize;
        background: #2e2e2e;
        padding: 12px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
       .newsLetter input[type="submit"]:hover {
          background: #444444; }
   .category-heading {
      padding-bottom: 5px;
      margin-bottom: 20px;
      padding-top: 0; }
     .category-heading .navText a {
        border: 1px solid #ececec; }
   .item-video {
      width: 100%;
      background: #fff; }
     .item-video figure {
        margin: 0;
        width: 100%;
        height: 190px;
        border-bottom: 1px solid #ececec;
        position: relative; }
       .item-video figure img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
     .item-video .video-des {
        padding: 15px 0 0 10px; }
       .item-video .video-des h6 a {
          color: #303030;
          font-size: 13px; }
       .item-video .video-des .post-stats p {
          margin-right: 15px; }
         .item-video .video-des .post-stats p i {
            color: #aaaaaa;
            font-size: 11px;
            display: inline-block;
            margin-right: 5px; }
         .item-video .video-des .post-stats p span {
            color: #aaaaaa;
            font-size: 11px; }
           .item-video .video-des .post-stats p span a {
              color: #aaaaaa;
              font-size: 11px; }
             .item-video .video-des .post-stats p span a:hover {
                color: #222222; }
     .item-video:hover a.hover-posts {
        visibility: visible;
        transform: scale(1); }

.margin-minus{
  padding-top: -50px;
  padding-bottom: -50px
}

#randomMedia2 {
  padding: 10px 0 10px 0;
  background: #fff;
  border-bottom: 1px solid #ececec; }
  #randomMedia2 .random-media-head {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin-bottom: 25px; }
    #randomMedia2 .random-media-head .tabs {
      border: none;
      display: table;
      margin: 0 auto; }
      #randomMedia2 .random-media-head .tabs .tabs-title > a:focus,
      #randomMedia2 .random-media-head .tabs .tabs-title > a[aria-selected="true"] {
        background: none; }
      #randomMedia2 .random-media-head .tabs li a {
        color: #8e8e8e;
        font-size: 16px;
        font-weight: 600;
        padding: 17px 10px;
        margin-bottom: 0;
        margin-right: 36px;
        text-transform: capitalize; }
        #randomMedia2 .random-media-head .tabs li a:hover {
          border-bottom: 2px solid #eb2b2b; }
      #randomMedia2 .random-media-head .tabs li.is-active a {
        border-bottom: 2px solid #eb2b2b;
        background: none; }
      #randomMedia2 .random-media-head .tabs li:last-of-type a {
        margin-right: 0; }
          .icon-bar {
 display: none;
  }
@media (min-width: 1031px) {
  .kiri-aja{
    margin-left: -30px !important; 
  }
  .icon-bar {
    display: block;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }

  .icon-bar a:hover {
      background-color: #000;
  }

  .facebook {
    background: #3B5998;
    color: white;
  }

  .twitter {
    background: #55ACEE;
    color: white;
  }

  .google {
    background: #dd4b39;
    color: white;
  }

  .linkedin {
    background: #007bb5;
    color: white;
  }

  .youtube {
    background: #bb0000;
    color: white;
  }

  .content {
    margin-left: 75px;
    font-size: 30px;
  }
}
.ini-cari{
  height: 30px;
  font-size: 12px;
  margin-left: 38px;
}
}

.btn-src {
    float: left;
    width: 20%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.btn-src:hover {
    font-size: 24px;
}
.wa{
  background: #FF3030;
  padding: 5px;
  color:white;
  margin-left: -17px;
}
.wa:hover{
  background: #B22222;
}

.sini a{
  color:black !important;
  text-decoration: underline;
}
.sini a:hover{
  color: red !important;
}

/*accordion*/


.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.h3 {
  font-size: 1.75rem;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}

.accordion a {
  margin: 0px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: red;
}

.accordion a:hover::after {
  border: 1px solid red;
}

.accordion a.active {
  color: red;
  border-bottom: 1px solid red;
}

.accordion a .fa::after {
  content: '\f101';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin-top: -25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

.accordion a .fa::hover {
  content: '\f103';
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
.castx{
  font-size: 14px !important;
}
.castx a {
  font-size: 14px !important;
  margin: -10px;
}
.table{
  color: black !important;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .serchporm .query{
      width: 89%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
     .serchporm .query{
      width: 89%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
     .serchporm .query{
      width: 89%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
     .serchporm .query{
      width: 89%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
     .serchporm .query{
      width: 80%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
     .serchporm .query{
      width: 72%;
      float: left;
      margin-right: 5px;
    }
    .serchporm .searchButton{
      padding: 5px;
      margin-left: 10px; 
      border:solid 1px grey;

    }

  
}

.serchporm .searchButton:hover{
  background-color: red;
  color: white;
  border:solid 1px white;
}
.kontenser{
  font-size: 14px;
  padding: 0px !important;
  margin-left: -2px !important;
  color: black;
}
input[type='checkbox']{
  display: initial;
  margin-bottom: -5px;
}
.lowercase {
  text-transform: lowercase;
  }
.uppercase {
  text-transform: uppercase;
  }
.capitalize {
  text-transform: capitalize;
  }
.inherit {
  text-transform: inherit;
  }
  .cekbux{
    border:solid 1px;
  }